// Font family
$main-font: "Roboto", sans-serif;

// Font weights
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;

// Colors
$main-color: #0d132f;
$main-color-light: #171c35;
$main-color-lighter: #272c43;
$dark-color-light: #141414;
$dark-color-lighter: #242424;
$background-main: #f2f8ff;
$border-color: #d0d1d7;
$heading-color: #a2a2a2;

// Shadows
$shadow-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
