.nav-box-form {
	position: relative;

	input {
		width: 5rem;
		height: 5rem;
		padding: 2rem;
		border-radius: 1rem;
		font-size: 1.4rem;
		outline: 0;
		border: 0;
		z-index: 5;
		color: #fff;
		transition: width 0.3s ease-in;

		&:focus {
			outline: 0;
			border: 0;
			width: 15rem;

			& + i {
				left: auto;
				transform: translate(0, -50%);
				right: 1rem;
			}
		}
	}

	i {
		pointer-events: none;
		font-size: 2rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: all 0.3s;
		transform: translate(-50%, -50%);
	}
}

.main-search-box {
	padding: 1rem 2rem;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;

	i {
		font-size: 2rem;
		color: #fff;
		margin-right: 0.5rem;
	}

	input {
		width: 15rem;
		background-color: transparent;
		outline: 0;
		border: 0;
		padding: 0.5rem;
		color: #fff;
		font-size: 1.4rem;
	}
}
